@charset "UTF-8";

/* Versão Mobile First */

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    box-sizing: border-box;
}

html {
   height: 100vh;
}

body {
    background-image: url(../imagens/back-phone.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

main {
    background-color: rgba(255, 255, 255, 0.699);
    width: 400px;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
}

h1 {
    text-align: center;
    color: white;
    font-size: 2em;
    text-shadow: 1px 1px 5px rgb(5, 6, 7);
}

img {
    display: block;
    margin: auto;
}

img#cel { display: block;}
img#pc { display: none; }
img#tab { display: none; }
img#tv { display: none; }
img#print { display: none; }